 
.product-img {
    width: 100%;  /* Asegura que ocupe todo el ancho del contenedor */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Recorta la imagen para ajustarse al contenedor manteniendo la proporción */
    object-position: center; /* Centra la imagen recortada */
  }