<header>
    <div class="px-2 py-1  border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="https://linetechperu.com/" class="d-flex align-items-center my-1 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="assets/img/sin letras pero png.png" alt="logo" style="width: 100px ;">
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <i class="bi bi-house-door"width="50" height="50"></i>
                Home
              </a>
            </li>
            <li>
              <a routerLink="quieneSomos" class="nav-link text-secondary">
                <i class="bi bi-hand-thumbs-up"></i>
                Quiénes Somos?
              </a>
            </li>
            <li>
              <a href="#"  class="nav-link text-secondary" routerLink="carrito">
                <i class="bi bi-cart4"></i>(<samp class="fw-bold">{{carritoService.cantidad()}}</samp>)
                Carrito
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-secondary" routerLink="productos">
                <i class="bi bi-box-seam"></i>
                Product
              </a>
            </li>
            @if (userEmail) {
              <li>
                <a href="#" class="nav-link text-secondary">
                  <i class="bi bi-person-bounding-box"></i>
                  {{userEmail}}
                </a>
              </li>
            }
            @if (isLoggedin) {
              <li>
                <a href="#" class="nav-link text-secondary" (click)="logout()">
                  <i class="bi bi-person-bounding-box"></i>
                  logout
                </a>
              </li>
            }@else {
              <li>
                <a href="#" class="nav-link text-secondary" routerLink="register">
                  <i class="bi bi-person-bounding-box"></i>
                  Registro
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-secondary" routerLink="login">
                  <i class="bi bi-person-bounding-box"></i>
                  login
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </header>
