<div class="container mt-3">
    <h5>Mi Carrito</h5>

    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center ">
                            <thead>
                                <th>Producto</th>
                                <th>Imagen</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </thead>
                            <tbody>
                                @for (item of listaCarrito; track item.producto) {
                                    <tr>
                                        <td>{{item.producto.name}}</td>
                                        <td>{{item.producto.photoUrl}}</td>
                                        <td>{{item.producto.category}}</td>
                                        <td>{{item.producto.price * item.cantidad}}</td>

                                    </tr>
                                }
                                @if (listaCarrito.length == 0) {
                                    <tr>
                                        <td colspan="4" class="text-center">No Hay Productos</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
