<div class="container-fluid mt-3">
    <h5>Mi Carrito</h5>

    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center ">
                            <thead>
                                <th>Producto</th>
                                <th>Imagen</th>
                                <th>Precio</th>
                                <th>Tipo</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                                <th>Accion</th>
                            </thead>
                            <tbody>
                                @for (item of listaCarrito; track item.producto) {
                                    <tr>
                                        <td>{{item.producto.name}}</td>
                                        <td>
                                            <img
                                            [src]="item.producto.photoUrl.startsWith('http') ? item.producto.photoUrl : ('http://localhost:8080/files/' + item.producto.photoUrl)"
                                            alt="{{item.producto.name}}" width="50" height="60"/>
                                        </td>
                                        <td>{{item.producto.price | number: '1.2-2'}}</td>
                                        <td>{{item.producto.category.name}}</td>
                                        <td><input type="number" class="form-control" [(ngModel)]="item.cantidad" min="1" (keydown)="onkeyDown($event)"></td>
                                        <td>{{(item.producto.price * item.cantidad) | number: '1.2-2'}}</td>
                                        <td>
                                            <button (click)="eliminarItem($index)" type="button" class="btn btn-danger btn-sm">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                }
                                @if (listaCarrito.length == 0) {
                                    <tr>
                                        <td colspan="7" class="text-center">No Hay Productos</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5>Resumen de la Compra</h5>
                        <hr>
                        <div class="d-flex justify-content-between md-4">
                            <p class="mb-2">Total</p>
                            <p class="mb-2">s/{{carritoService.total() | number: '1.2-2'}}</p>

                        <button [disabled]="listaCarrito.length == 0"  type="button" class="btn btn-dark btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                                <samp>Enviar</samp>

                            </div>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
