<body>
  <div class="wrapper">
      <div class="banner">
        <form action="" class="form">
          <h1 class="inp title">Registrate</h1>
          <div class="inp">
            <input type="text" class="input" placeholder="Nombre">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="inp">
            <input type="number" class="input" placeholder="Telefono">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="inp">
            <input type="email" class="input" placeholder="Correo">
            <i class="fa-solid fa-envelope"></i>
          </div>

          <div class="inp">
            <input type="password" class="input" placeholder="contraseña">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="inp">
            <input type="password" class="input" placeholder="contraseña">
            <i class="fa-solid fa-lock"></i>
          </div>
          <button class="submit">Registrate</button>
          <p class="footer">¿No tienes cuenta? <a href="#" class="link">Por favor, Registrate</a></p>
        </form>
      </div>
      <div class="banner">
        <div class="content-carrusel">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
      
          </div>
        </div>
      </div>
  </div>
</body>