<body>
  <div class="wrapper">
      <div class="banner">
        <form class="form" [formGroup]="userForm" (ngSubmit)="save()">

          <h1 class="inp title">Registrate</h1>
          <!-- formulario de registro-->
          <div class="inp">
            <input type="text" class="input" id="firstName" placeholder="Nombre" formControlName="firstName">
            @if (userForm.controls.firstName.touched && userForm.controls.firstName.errors) {
              <div>
                <small class="text-danger">Introduce un Nombre</small>
              </div>
              }
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="inp">
            <input type="number" class="input" placeholder="Telefono" formControlName="phone">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="inp">
            <input type="email" class="input" placeholder="Correo" formControlName="email">
            <i class="fa-solid fa-envelope"></i>
          </div>

          <div class="inp">
            <input type="password" class="input" placeholder="contraseña" formControlName="password">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="inp">
            <input type="password" class="input" placeholder="contraseña" formControlName="passwordConfirm">
            <i class="fa-solid fa-lock"></i>
          </div>
          <button class="submit">Registrate</button>
          <p class="footer">¿No tienes cuenta? <a href="#" class="link">Por favor, Registrate</a></p>
        </form>
      </div>
      <div class="banner">
        <div class="content-carrusel">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
      
          </div>
        </div>
      </div>
  </div>
</body>