<body>
  <div class="wrapper">
    <div class="container">
      <div class="">
        <form action="" class="form">
          <h1 class="inp title">Registrate</h1>
          <div class="inp">
            <input type="text" class="input" placeholder="Nombre">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="inp">
            <input type="number" class="input" placeholder="Telefono">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="inp">
            <input type="email" class="input" placeholder="Correo">
            <i class="fa-solid fa-envelope"></i>
          </div>

          <div class="inp">
            <input type="password" class="input" placeholder="contraseña">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="inp">
            <input type="password" class="input" placeholder="contraseña">
            <i class="fa-solid fa-lock"></i>
          </div>
          <button class="submit">Registrate</button>
          <p class="footer">¿No tienes cuenta? <a href="#" class="link">Por favor, Registrate</a></p>
        </form>
      </div>
      <div class="banner">
        <h1 class="wel_text">Bienvenido</h1>
      </div>
    </div>
  </div>
</body>